<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bso.Archive.BusObj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="BsoArchiveEntities" connectionString="metadata=res://*/BsoArchive.csdl|res://*/BsoArchive.ssdl|res://*/BsoArchive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=#MyConnectionString;initial catalog=#CatalogName;user id=#Username; password=#Password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="adg" namespace="BSO.Archive.WebApp.Classes" assembly="BSO.Archive.WebApp" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="480" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </modules>
    <handlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" name="Elmah" />
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <Bso.Archive.BusObj.Properties.Settings>
      <setting name="XMLPath" serializeAs="String">
        <value>C:\MyPath\ImportData.xml</value>
      </setting>
      <setting name="IsTest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestEmail" serializeAs="String">
        <value>username@myemail.com</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.myserver.com</value>
      </setting>
      <setting name="ShareSearchEmailSubject" serializeAs="String">
        <value>BSO Performance Archive Search</value>
      </setting>
      <setting name="EmailTemplates" serializeAs="String">
        <value>Bso.Archive.BusObj.EmailTemplates</value>
      </setting>
      <setting name="XMLUpdate" serializeAs="String">
        <value>C:\MyPath\Update.xml</value>
      </setting>
      <setting name="NumberofResults" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SiteURL" serializeAs="String">
        <value>http://localhost:54111/</value>
      </setting>
      <setting name="FirstEventDate" serializeAs="String">
        <value>10/21/1881</value>
      </setting>
      <setting name="ContentDMProgramLink" serializeAs="String">
        <!--<value>http://cdm15982.contentdm.oclc.org/cdm/ref/collection/PROG/id/</value>-->
          <value>http://cdm15982.contentdm.oclc.org/cdm/ref/collection/PROG/id/</value>
      </setting>
      <setting name="ErrorPageHeader" serializeAs="String">
        <value>Error: There was a problem with processing your request</value>
      </setting>
      <setting name="ContentDMLandingURL" serializeAs="String">
        <value>http://cdm15982.contentdm.oclc.org/cdm/landingpage/collection/PROG</value>
         
      </setting>
    </Bso.Archive.BusObj.Properties.Settings>
  </applicationSettings>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="6000" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="c:\Logs\" />
    <errorMail from="fromemail@myserver.com" to="user1@myserver.com, user2@myserver.com" subject="BSO Error" async="true" smtpPort="25" smtpServer="mail.myserver.com"></errorMail>
    <errorFilter>
      <test>
        <or>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
          <regex binding="Exception.StackTrace" pattern="ViewStateException" caseSensitive="false" />
          <equal binding="Context.Request.ServerVariables['URL']" value="/WebResource.axd" type="String" />
        </or>
      </test>
    </errorFilter>
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.97.4951.28478" newVersion="4.97.4951.28478" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <location path="ArchiveWebService.asmx/SaveExportDataToSession">
        <system.web>
            <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0"/>
            <pages validateRequest="false"/>
        </system.web>
    </location>
</configuration>