<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bso.Archive.BusObj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BsoArchiveEntities" connectionString="metadata=res://*/BsoArchive.csdl|res://*/BsoArchive.ssdl|res://*/BsoArchive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=##DataServer;initial catalog=##CatalogName;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <applicationSettings>
    <Bso.Archive.BusObj.Properties.Settings>
      <setting name="XMLPath" serializeAs="String">
        <value>C:\MyPath\ImportData.xml</value>
      </setting>
      <setting name="IsTest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestEmail" serializeAs="String">
        <value>username@myemail.com</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.myserver.com</value>
      </setting>
      <setting name="ShareSearchEmailSubject" serializeAs="String">
        <value>BSO Performance Archive Search</value>
      </setting>
      <setting name="EmailTemplates" serializeAs="String">
        <value>Bso.Archive.BusObj.EmailTemplates</value>
      </setting>
      <setting name="XMLUpdate" serializeAs="String">
        <value>C:\MyPath\Update.xml</value>
      </setting>
      <setting name="NumberofResults" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SiteURL" serializeAs="String">
        <value>http://localhost:54111/</value>
      </setting>
      <setting name="FirstEventDate" serializeAs="String">
        <value>10/21/1881</value>
      </setting>
      <setting name="ContentDMProgramLink" serializeAs="String">
        <value>http://cdm15982.contentdm.oclc.org/cdm/ref/collection/PROG/id/</value>
      </setting>
      <setting name="ErrorPageHeader" serializeAs="String">
        <value>Error: There was a problem with processing your request</value>
      </setting>
      <setting name="ContentDMLandingURL" serializeAs="String">
        <value>http://cdm15982.contentdm.oclc.org/cdm/landingpage/collection/PROG</value>
      </setting>
      <setting name="ExludedWorkGroupIds" serializeAs="String">
        <value>9227,5978,3356,3357,3358,8019</value>
      </setting>
    </Bso.Archive.BusObj.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
